landing page test
<div class="landing-page" [ngClass]="{'loading': !permissions}" *ngIf="permissions && reports && reports.length">
	<!-- <div class="box">
		<h3><i class="fa fa-list"></i>General Admin</h3>
		<ul>
			<li *ngIf="isPermitted(10002)"><a routerLink="usage-stats">{{ titles.usage_stats }}</a></li>
			<li *ngIf="isPermitted(10001)"><a routerLink="user-maintenance">{{ titles.user_role_maintenance }}</a></li>
			<li *ngIf="isPermitted(10000)"><a routerLink="notification-message-editor">{{ titles.notification_message_editor }}</a></li>
		</ul>
	</div>
	<div class="box">
		<h3><i class="fa fa-cogs"></i>System Admin</h3>
		<ul>
			<li *ngIf="isPermitted(11004)"><a routerLink="edit-system-config">{{ titles.system_config_editor }}</a></li>
			<li *ngIf="isPermitted(11010)"><a routerLink="module-config">{{ titles.module_config }}</a></li>
			<li *ngIf="isPermitted(10003)"><a routerLink="report-config">{{ titles.report_config }}</a></li>
			<li *ngIf="isPermitted(11003)"><a routerLink="message-editor">{{ titles.system_message_editor }}</a></li>
		</ul>
	</div>
	<div class="box">
		<h3><i class="fa fa-table"></i>Data Admin</h3>
		<ul>
			<li *ngIf="isPermitted(12008)"><a routerLink="approve-months">{{ titles.approve_preview_months }}</a></li>
			<li *ngIf="isPermitted(12009)"><a routerLink="cube-admin">{{ titles.cube_admin }}</a></li>
			<li *ngIf="isPermitted(12011)"><a routerLink="hfm-admin">{{ titles.hfm_import }}</a></li>
			<li *ngIf="isPermitted(12010)"><a routerLink="plan-data-admin">{{ titles.plan_data_import }}</a></li>
			<li *ngIf="isPermitted(12012)"><a routerLink="bb-sales-admin">{{ titles.bb_sales_refi_import }}</a></li>
		</ul>
	</div>
	<div class="box">
		<h3><i class="fa fa-cogs"></i>Developer Tools</h3>
		<ul>
			<li *ngIf="isPermitted(11005)"><a routerLink="edit-mdx">{{ titles.edit_mdx }}</a></li>
			<li *ngIf="isPermitted(11006)"><a routerLink="query">{{ titles.query }}</a></li>
			<li *ngIf="isPermitted(11007)"><a routerLink="health-monitor">{{ titles.health_heartbeat_monitor }}</a></li>
			<li *ngIf="isPermitted(11008)"><a routerLink="reset-cache">{{ titles.reset_cache }}</a></li>
			<li *ngIf="isPermitted(11009)"><a routerLink="logging">{{ titles.logging }}</a></li>
		</ul>
	</div> -->

</div>